/*** General configurations ***/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden !important;
  margin: 0;
  font-family: "Karla", sans-serif !important;
  background-color: #f2f4fa !important;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden !important;
  }
}

::selection {
  background: #3755be !important;
  color: #fff !important;
}

::-moz-selection {
  background: #3755be !important;
  color: #fff !important;
}

img::selection {
  background: transparent !important;
}

/** Navigation bar **/
nav {
  position: relative;
  z-index: 1000 !important;
}

.nav-menu-top {
  margin-top: 1.25rem !important;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-light .nav-item .nav-link:active,
.navbar-light .nav-item .nav-link:focus,
.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:hover .nav-link {
  color: #3755be !important;
}

.fa-smile {
  color: #3755be;
  font-size: 1.5rem;
  padding-right: 0.2rem;
}

.navtitle {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.9px;
  font-size: 1.5rem !important;
}

.navbar-brand {
  font-size: 1.5rem !important;
}

.nav-item .nav-link {
  font-weight: 600;
  font-size: 1.125rem !important;
  background-color: transparent;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

@media (max-width: 992px) {
  .nav-item .nav-link {
    padding-left: 1rem !important;
  }
}

.navspacing {
  margin-right: 2.5rem;
}

.continuous-5 {
  background: linear-gradient(#3755be 0 0) var(--d, 201%) 100% /200% 3px no-repeat;
}

.continuous-5:hover {
  --d: -101%;
  transition: 0.5s;
}

/** Content **/
.main {
  width: 60%;
  margin: 6rem auto 4rem auto;
}

@media (max-width: 592px) {
  .main {
    width: auto;
    margin: 6rem 4rem auto 4rem !important;
  }
}

.desc {
  max-width: 50%;
}

.topbar {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-weight: 600;
  letter-spacing: 0.1em;
}

a,
a:hover {
  text-decoration: none !important;
}

.bazinga {
  font-weight: 600;
  background-image: linear-gradient(to bottom, #919191 0%, #919191 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  text-decoration: none;
  color: black;
  transition: background-size 0.2s, color 0.2s;
  width: auto;
}

.bazinga:hover {
  color: #3755be;
  background-size: 4px 50px;
}

.smalla {
  background-size: 2px 2px;
}

.abouth {
  font-weight: 800;
  padding-bottom: 2rem;
}

p {
  margin-bottom: 2rem;
  font-size: 1.125rem;
}
