/*** General configurations ***/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
  margin: 0;
  font-family: 'Karla', sans-serif !important;
}

@media (max-width: 768px) {
  body {
    background-color: #f2f4fa !important;
  }
}

::selection {
  background: #ffe987 !important;
  color: #212529 !important;
}

::-moz-selection {
  background: #ffe987 !important;
  color: #212529 !important;
}

/** Navigation bar **/
nav {
  position: relative;
  z-index: 1000;
}

.nav-menu-top {
  margin-top: 1.25rem !important;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-light .nav-item .nav-link:active,
.navbar-light .nav-item .nav-link:focus,
.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:hover .nav-link {
  color: #000;
}

.fa-smile {
  color: #3755be;
  font-size: 1.5rem;
  padding-right: .2rem;
}

.navtitle {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .9px;
  font-size: 1.5rem;
}

.nav-item .nav-link {
  font-weight: 600;
  font-size: 1.125rem;
  background-color: transparent;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
  padding-left: 2.5rem !important;
}

@media (max-width: 992px) {
  .nav-item .nav-link {
    padding-left: 1rem !important;
  }
}


/** Kewl sliding background **/
.homeleft {
  z-index: -1000;
  margin-top: -20rem;
  top: -10 !important;
  position: relative;
  overflow: hidden;
  left: -65%;
  width: 60%;
  height: 140vh; 
  background-color: #f2f4fa;
  animation: slide-perm 1.85s forwards ease;
  animation-delay: .6s; 
}

@keyframes slide-perm{
  0 {
    left:-100%;
  }
  
  25% {
    left -100%;
  }
  
  75% {
    left: 0;
  }
  
  100% {
    left: 0;
  }
}

/** Hero Text **/
.texting {
  margin-left: 15vw;
  margin-right: 15vw !important;
  position: absolute;
  top: 0;
  z-index: 150;
  color: black;
  padding-top: 12rem;

}

.minihead {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: #3755be;
  margin-bottom: 25px;
}

.heroheader {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  width: auto;
}

.herocontent {
  font-weight: 400;
  font-size: 1.06rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2.5px;
    max-width: 150px;
    border-color: #b5b5b5;
    border-width: 6px;  
    visibility: hidden;
}

.desclink {
  padding: 10px;
  border: 3px solid black;
  background: #3755be;
  transition: 0.3s;
  color: white;
  font-weight: 600;
}

.desclink:hover {
  border: 3px solid black;
  background: #5975d9;
  text-decoration: none !important;
  color: white !important;
}

/** Soon 
.features-section {
  position: relative;
  background: gray !important;
  padding-bottom: 50rem;
} **/
