/*** General configurations ***/
html {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
}

body {
  overflow-x: hidden !important;
  margin: 0;
}

::selection {
  background: #ffe987 !important;
  color: #212529 !important;
}

::-moz-selection {
  background: #ffe987 !important; 
  color: #212529 !important;
}

/** Navigation bar **/
