/*** General configurations ***/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
  margin: 0;
  font-family: 'Inter', sans-serif !important;
}

::selection {
  background: #ffe987 !important;
  color: #212529 !important;
}

::-moz-selection {
  background: #ffe987 !important;
  color: #212529 !important;
}



/** Navigation bar **/
.nav-menu-top {
  margin-top: 1.25rem !important;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-light .nav-item .nav-link:active,
.navbar-light .nav-item .nav-link:focus,
.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:hover .nav-link {
  color: #000;
}

.nav-item .nav-link {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background-color: transparent;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
  padding-left: 2.5rem !important;
}

@media (max-width: 992px) {
  .nav-item .nav-link {
    padding-left: 1rem !important;
  }
}
